# config files
.babelrc
.babelrc.js
.browserlistrc
.documentation.json
.editorconfig
.eslintignore
.eslintrc
.github
.gitignore
.npmignore
.prettierignore
.prettierrc
.turbo
.travis.yml
.vscode
CODEOWNERS
babel.config.js

# folders
coverage
src
test

# markdown files
CODE_OF_CONDUCT.md
CONTRIBUTING.md

# misc.
CNAME
rollup.config.js
travis_after_all.py
typescript-test.ts
